<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3 text-center">
    <h2> Job Details</h2>
    <a routerLink="/create" class="btn btn-success">+ Add New Job</a>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ jobs.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ jobs.category }} | {{ jobs.jobtype }}</h6>
          <p class="card-text">
            <strong>Location:</strong> {{ jobs.location }} <br />
            <strong>Posted:</strong> {{ jobs.pdate | date: 'yyyy-MM-dd' }} <br />
            <strong>Deadline:</strong> {{ jobs.deadlinedate | date: 'yyyy-MM-dd' }}
          </p>
          <hr />
          <p class="card-text">{{ jobs.description | slice:0:100 }}...</p>
        </div>
        <div class="card-footer bg-transparent border-0 d-flex justify-content-between">
          <button class="btn btn-sm btn-outline-primary" >Apply</button>
          <button class="btn btn-sm btn-outline-danger"  >Back</button>
        </div>
      </div>
    </div>
  </div>
</div>


