<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">DreamJob</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/jobs">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user">User</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item" *ngIf="!isLoggedIn()">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn()">
                    <a class="nav-link" routerLink="/reg">Register</a>
                </li>
                <li class="nav-item dropdown" *ngIf="isLoggedIn()">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#">
                        Profile
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" routerLink="/profile">My Profile</a></li>
                        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>