 <!-- topbar start -->
    

   


  <nav class="navbar navbar-light bg-green">
            <div class="container-fluid " style="background-color :yellowgreen;">
                <i class="fa-solid fa-tag fa-xl"></i>
                <h1> <a class="navbar-brand" style="font-size:7vh;">Happy Food</a></h1>
                <form class="d-flex">
                 



                      <button class="btn btn-outline-light bg-success" type="submit">Login</button>


                   <button class="btn btn-outline-light bg-success mx-3" type="submit">Sign UP</button>


            



</form>
  
        <!-- topbar end -->


<router-outlet />
