<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/alljobs">
      <img src="assets/logo.png" alt="" height="40" class="d-inline-block align-text-top">
      Dream Job
    </a>

    <!-- Toggler for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#jobsNavbar" aria-controls="jobsNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="jobsNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/alljobs">All Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addjob">Post Job</a>
        </li>
     <li class="nav-item">
          <a class="nav-link" routerLink="/addseeker">JobSeeker Reg</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addemp">Employer Reg</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
