body {
    background: linear-gradient(to right, #e0f7fa, #e1bee7);
    padding: 30px;
}

.form-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.form-title {
    background: linear-gradient(to right, #4a148c, #880e4f);
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 1.5rem;
}

.btn-custom {
    background-color: #6a1b9a;
    color: white;
}

.btn-custom:hover {
    background-color: #4a148c;
}